{% extends 'base.html.twig' %}

{% block title %}Modifier Chambre{% endblock %}

{% block body %}
    <h1>Modifier Chambre</h1><hr>

    {{ include('chambre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('chambre_index') }}">Aller Liste Chambre</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
