<form method="post" action="{{ path('etudiant_delete', {'id': etudiant.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer?');">
    <input type="hidden" name="_method" value="Supprimer">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etudiant.id) }}">
    <button class="btn btn-success">Supprimer</button>
</form>
