{% extends 'base.html.twig' %}

{% block title %}YAYE FALL DEV!{% endblock %}

{% block body %}




<!--<h1>{{ title}}</h1>-->



<div class="jumbotron ">
  <h2>Page d'Accueil</h2><hr><hr>

  <p>BIENVENUE SUR MA PAGE YAYE FALL DEV.</p>
  <div>



{% endblock %}
